.root {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 450px;
    background-color: #e0e0e0;
    margin: 1em;
    border-radius: 8px;
    position: relative;
    
}

.innerCard {
    padding: 3em 1em;
}

.actions {
    top: .25em;
    right: .75em;
    display: flex;
    position: absolute;
}

.actionIcon {
    font-size: 1.5em;
    color: #9e9e9e;
    margin: 0.25em;
}
.actionIcon:hover {
    color: #616161;
}