@import '../variables.scss';

.root {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.asideText {
    font-family: 'teko';
    font-size: calc(23vmin + 1em);
    margin: 0.25em 0px 0.05em;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding-left: 0.2em;
    color: var(--color-asideText);
    display: flex;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headerText {
    color: var(--color-text);
}

.text {
    text-align: end;
    margin-bottom: 0px;
    color: var(--color-text);
}

.skillIcon {
    color: $main-blue;
    font-size: 3em;
    margin-right: 0.25em;
}
.skillIcon:hover {
    color: #9e9e9e;
}

.listContainer {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
}

ul li {
    color: var(--color-text);
}

.moreSkills {
    padding: 0;
}

li:before {
    content: '✓';
    color: $main-blue;
    padding-right: 7px;
}

.tooltipStyles {
    font-size: 0.75em !important;
    padding: 0 8px !important;
}
