@import '../components/variables.scss';

.root {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectsTitle {
    font-family: 'teko';
    font-size: calc(14vmin + 1em);
    padding: 0.3em 0px 0.2em;
    line-height: 0.85em;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: var(--color-asideText);
    display: flex;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
