@import '../variables.scss';

.root {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.contactTextContainer {
    display: flex;
    flex-direction: column;
}

.asideText {
    font-family: 'teko';
    font-size: calc(21vmin + 1em);
    margin: 0.1em 0 0em;
    line-height: 0.85em;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: var(--color-asideText);
    display: flex;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contactText {
    font-weight: normal;
    font-size: 2.5em;
    margin: 0;
    line-height: 1.25em;
    color: var(--color-text);
}
.contactPara {
    color: var(--color-blueText);
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconsContainer {
    display: flex;
    padding-top: 0.3em;
}

.icon {
    font-size: 3.5em;
    color: $main-blue;
    margin: 0.35em;
}
.icon:hover {
    color: $light-blue;
}
