@import './variables.scss';

.container {
    background-color: var(--color-background);
    min-height: 40px;
}

.innerContainer {
    margin: 0px auto;
    width: 100vw;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.logoContainer {
    margin: 0px;
    flex-grow: 1;
}

.linkContainer {
    margin: 0px;
}

.logoMain {
    font-weight: 600;
    color: #9e9e9e;
}

.logoSecondary {
    font-weight: 300;
    color: $main-blue;
}

.logoLink {
    text-decoration: none;
    color: inherit;
}

.navLink {
    text-decoration: none;
    color: var(--color-text);
    padding: 0 1vw;
    font-weight: normal;
}
.navLink:hover {
    color: $main-blue;
}

.navText {
    margin-bottom: 0;
}

.githubIcon {
    font-size: 1.25em;
    color: rgb(57, 159, 227);
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 35px;
}
