@import './variables.scss';

// var(--color-primary);

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.switchContainer {
    border-radius: 15px;
    background-color: rgb(210, 210, 210);
    width: 45px;
    height: 20px;
    margin: 0px 3px;
    padding: 0px 3px;
    display: flex;
    align-items: center;
}

.innerSwitch {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: $light-background-color;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.icon {
    color: #c9c9c9;
    font-size: 0.85em;
}

.yellow {
    color: $yellow;
}

.switchRight {
    animation-duration: 0.3s;
    animation-name: slideRight;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.switchLeft {
    animation-duration: 0.3s;
    animation-name: slideLeft;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideRight {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 23px;
    }
}
@keyframes slideLeft {
    from {
        margin-left: 23px;
    }

    to {
        margin-left: 0px;
    }
}
