@import './variables.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1px;
}

.switchContainer {
    border-radius: 15px;
    border: 1px solid $switch-color;
    width: 55px;
    height: 25px;
    padding: 0px 4px 0px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.innerSwitch {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: $switch-color;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.innerRight {
    margin-left: 31px;
}

.icon {
    color: $switch-color;
    font-size: 0.85em;
}

.yellow {
    color: $yellow;
}
.moonWhite {
    color: $moon-white;
}

.animateRight {
    animation-duration: 0.3s;
    animation-name: slideRight;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.animateLeft {
    animation-duration: 0.3s;
    animation-name: slideLeft;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes slideRight {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 31px;
    }
}
@keyframes slideLeft {
    from {
        margin-left: 31px;
    }

    to {
        margin-left: 0px;
    }
}
