@import './variables.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.switchContainer {
    border-radius: 15px;
    border: 1px solid #8a8a8a;
    width: 45px;
    height: 20px;
    margin: 0px 3px;
    padding: 0px 3px;
    display: flex;
    align-items: center;
}

.innerSwitch {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: $main-blue;
    cursor: pointer;
}

.icon {
    color: #c9c9c9;
    font-size: 0.85em;
}

.yellow {
    color: $yellow;
}
